.btn{
border-radius: 0em;
width: 100%;
}
.form-control{
border-radius: 0em;    
}
.outside{
    position: relative;
    height:197px;
}
.inside{
    position: absolute;
    bottom: 0;
    width: 100%;
}